@namespace ClaytonsWeb2
@model CategorySearch
@inject Repository repo

@{
    Layout = "/Views/Newsletter/Layout.cshtml";
    presearch ps = repo.getPresearch(@Model.CategoryId, @Model.SearchId);
    string kdbase = "http://www.kayakdiary.net/qajaq";
}

<div id="content">
    <div class="back_button"><input type="button" onclick="window.history.back();" 
        Value="Back to search list" /></div>

    <div class="search_result">
    <table width="600" border="0" cellpadding="5">
    @foreach (var result in repo.multiSearch(@ps.search_term) )
    {
        <tr>
            <td>
                <p>
                    <a href="@kdbase/newsletters/@result.filename#page=@result.pagenum" target="_blank">
                        <img src="@kdbase/images/thumbs/@(result.basename).png">
                    </a>
                </p>
            </td>
            <td>
                <p>
                    <a href="@kdbase/newsletters/@result.filename#page=@result.pagenum" target="_blank">
                        @result.description - Page @result.pagenum
                    </a>
                </p>
                <p>
                    @Html.Raw(result.context)
                </p>
            </td>
        </tr>
    }
    </table>
</div>